<div class="grid-wrapper">
    <div class="clentFormNavigation-container">
       <a routerLink="/client" class="link-nav"> Overview </a>
       <a href="#" class="link-nav"> Cash Flow </a>
       <a href="#" class="link-nav"> Assets & Liabilities </a>
       <a href="#" class="link-nav"> Protecting My Legacy </a>
       <a href="#" class="link-nav"> Audit Trial </a>
    </div>
    <div class="left-section flex-container">
        <div class="logo-container">
            <img [src]="imagePath" alt="" class="logo-image">
        </div>
        <aside class="aside-navigation flex-aside-nav">
            <ul class="nav-list">
                <li class="link">
                    <div class="icon-container">
                        <img src="assets/Icons/DashboardIcon.png" alt="" class="icon">
                    </div>
                    <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>
                </li> 
                <li class="link">
                    <div  class="icon-container">
                        <img src="assets/Icons/ClientsIcon.png" alt="" class="icon">
                    </div>
                    <a routerLink="/clients"  routerLinkActive="active" class="nav-link">Clients</a>
                </li> 
                <li class="link">
                    <div class="icon-container">
                        <img src="assets/Icons/revenueIcon.png" alt="" class="icon">
                    </div>
                    <a routerLink="/Revenue"  routerLinkActive="active" class="nav-link">Revenue</a>
                </li> 
                <li class="link">
                    <div class="icon-container">
                        <img src="assets/Icons/CrossSellingIcon.png" alt="" class="icon">
                    </div>
                    <a routerLink="/CrossSelling" routerLinkActive="active" class="nav-link">Cross-Selling</a>
                </li> 
                <li class="link">
                    <div class="icon-container">
                        <img src="assets/Icons/CalenderIcon.png" alt="" class="icon">
                    </div>
                    <a routerLink="/calender" routerLinkActive="active" class="nav-link">Calender</a>
                </li>               
            </ul>
            <div class="footer-row">
                <span class="horizontalLine"></span>
                <ul class="nav-list">
                    <li class="setting-link">
                        <div class="icon-container">
                            <img src="assets/Icons/gearIcon.png" alt="" class="icon">
                        </div>
                        <a href="#" class="nav-link">Settings</a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>

     <div class="right-section">
        <div class="nav-container">
            <div class="notification-container">
                <div class="notification-counter">1</div>
                <img [src]="notificationIcon" alt="" class="bell-icon">
            </div>
            <div class="user-profile-container">
                <img [src]="userProfile" alt="" class="user-profile-image">
            </div>
        </div>
        <div class="clients-container">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>