* {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #ffffff;
  --Placeholder-text-color: #bdbdbd;
  --body-text: #2d4f5d;
  --sign-up-text-color: #c3197d;
  --primary-background-color: rgb(39, 83, 104);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.left-container,
.right-container {
  height: 100vh;
  //background-color: red;
}

.left-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5px;
}

.logo-conatiner {
  padding: 5px;
  width: 100%;
  margin-bottom: 70px;
}
.logo-conatiner .logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: contain;
  object-position: center;
}

.form-container {
  //background-color: #c3197d;
  width: 100%;
  //height: 50vh;
  //border: 2px solid black;
  padding: 10px;

  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 25rem;
  //height: 40vh;
}

.auth-type-grid {
  display: flex;
  column-gap: 10px;
  align-items: center;
  
  width: 100%;
  padding-left: 2px;
}
.choice-type-container {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.radio-button{
  accent-color:  #2d4f5d;;
  border:0;
  scale: 1.5;

}
.label-text{
  color:  #2d4f5d;
  font-weight: bolder;
  font-size: 18px;
  font-family: sans-serif;
}

.user-alert-container {
    //  border: 2px solid black;
  padding: 10px;
  padding-left: 0;
}
.user-alert {
  font-size: 25px;
  color: #2d4f5d;
  font-family: sans-serif;
  margin: 10px 0px;

}
.user-prompt{
  color: #bdbdbd;
  font-family: sans-serif;
  font: 15px;
}
.input-fields {
 //border: 2px solid black;
  //padding: 5px;
  margin-bottom: 10px;
}
.flex-container{
  position: relative;
}

.flex-container {
  //background-color: #bdbdbd;
  margin-bottom: 15px;
  display: flex;
  column-gap: 10px;
}

.phone-icon-container{
    width: 100px;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    //margin: 2px 0;
    border-radius: 20px;
    height: 40px;
}
.country-code-select{
    background-color: transparent;
    outline: none;
    font-size: 16px;
    margin-left: 20px;
    width: 50px;
    border: none;
}
.input-field{
    display: flex;
    padding: 5px;
}
.phone-input-container{
    flex: 1;
}
.phoneInputBox{
    width: 100%;
    border: 0;
    outline: none;
   height: 40px;
   border-radius: 20px;
   background-color:rgb(244, 244, 244);
   padding-left: 20px;
}

.input-field input::placeholder {
  background-color: var(--Placeholder-text-color);
}

.submitButton {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  background-color: #2d4f5d;
  color: #ffffff;
  height: 40px;
  border: none;
  
}

.or-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;

  span {
    padding: 0 10px;
    color: grey;
    font-size: 14px;
    position: relative;
  }

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid grey;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}

.social-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  //background-color: #2d4f5d;
  width: 100%;
  height: 40px;
}
.social-login-text{
  font-family: sans-serif;
  color: #2d4f5d;
}
.sign-up-link{
  color: #c3197d ;
  margin-left: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bolder;
}
//Right container styles
.right-container {
  background-color: var(--body-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.feature-card {
  position: relative;
  background: rgb(39, 83, 104);
  border-radius: 10px;
  height: 88vh;
  width: 70%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;



  background-image: url('/assets/images/bgImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.image-box {
  background-color: white;
  width: 70%;
  height: 35%;
  position: absolute;
  top: 26%;
  left: 15%;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #bdbdbd;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}

.graph-box {
  width: 24%;
  height: 20%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 8%;
  color: #bdbdbd;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}

.main-text {
  color: #ffffff;
  font-family: 'PT Serif', sans-serif;
  font-size: 30px;
  padding: 0px 30px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: lighter;
  line-height: 30px;
}

.sub-text {
  color: #ffffff;
  font-family: arial;
  margin-bottom: 20px;
  font-size: 14px;
}

.feature-text {
  position: absolute;
  right: -35px;
  top: 40%;
  color: #ffffff;
  transform: rotate(270deg);
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;

}

//vector
.vector-image {
  position: absolute;
  top: 22%;
  right: 12%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #c3197d;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

    
    img{
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
    }
  
}




// Responsive styles
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .left-container, .right-container {
    height: auto;
  }

  .login-form-wrapper {
    width: 90%;
  }

  .feature-card {
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .image-box, .graph-box {
    width: 80%;
    height: auto;
    position: relative;
    top: auto;
    left: auto;
  }
}