:host {
  display: block;
  height: 100%;
  width: 100%;
}

// Main container
.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  padding-bottom: 1.5rem;
 
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;

  &.collapsed {
    width: 60px;

    .nav-link span,
    .footer-row span {
      display: none;
    }

    .logo-container {
      justify-content: center;
    }
  }

  // Mobile toggle button
  .toggle-btn {
    display: none;
    align-self: flex-end;
    margin: 0.5rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }

    i.pi {
      font-size: 1.5rem;
    }
  }

  // Logo area
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .logo-image {
      max-width: 120px;
      height: auto;
    }
  }

  // Navigation links
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
    padding: 0 0.5rem;

    .nav-link {
      display: flex;
      align-items: center;
      padding: 0.75rem 1rem;
      border-radius: 0;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      color: var(--text-color);
      text-decoration: none;
      transition: background-color 0.2s;

      .pi {
        margin-right: 0.75rem;
        font-size: 1.2rem;
       
      }

      &:hover {
        background-color: var(--surface-b);

        .pi{
          color: orange;
        }
      }

      &.active {
        background-color: var(--primary-color);
        color: #fff;

      }
    }
  }

  // Footer section
  .footer-row {
    padding: 1rem;
    border-top: 1px solid #ccc;

    hr {
      border: none;
      border-top: 1px solid #ddd;
      margin: 0.1rem 0;
    }

    .nav-link {
      display: flex;
      align-items: center;
      padding: 0.75rem 2rem;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      color: var(--text-color);
      text-decoration: none;

      .pi {
        margin-right:  0.95rem;
        font-size: 1.2rem;
      }

      &:hover {
         background-color: var(--surface-b);

        .pi{
          color: orange;
        }
      }

      &.active {
        background-color: var(--surface-b);
      }
    }
  }
}
