<div class="aside-container" [class.collapsed]="collapsed">

  <!-- Logo -->
  <div class="logo-container">
    <img [src]="imagePath" alt="Logo" class="logo-image" />
  </div>

  <!-- Navigation Links -->
  <nav class="nav-links">
    <a
      [routerLink]="['/home/dashboard']"
      routerLinkActive="active"
      class="nav-link"
    >
      <i class="pi pi-chart-bar icon"></i>
      <span *ngIf="!collapsed">Dashboard</span>
    </a>

    <a
      [routerLink]="['/home/clients']"
      routerLinkActive="active"
      class="nav-link"
    >
      <i class="pi pi-users icon"></i>
      <span *ngIf="!collapsed">Clients</span>
    </a>

    <a
      [routerLink]="['/home/revenue']"
      routerLinkActive="active"
      class="nav-link"
    >
      <i class="pi pi-wallet icon"></i>
      <span *ngIf="!collapsed">Revenue</span>
    </a>

    <a
      [routerLink]="['/home/crossSelling']"
      routerLinkActive="active"
      class="nav-link"
    >
      <i class="pi pi-share-alt icon"></i>
      <span *ngIf="!collapsed">Cross-Selling</span>
    </a>

    <a
      [routerLink]="['/home/calender']"
      routerLinkActive="active"
      class="nav-link"
    >
      <i class="pi pi-calendar icon"></i>
      <span *ngIf="!collapsed">Calendar</span>
    </a>
  </nav>

  <!-- Footer Settings -->
  <div class="footer-row">
    <!-- <hr /> -->
    <a
      [routerLink]="['/home/settings']"
      routerLinkActive="active"
      class="nav-link"
    >
      <i class="pi pi-cog icon"></i>
      <span *ngIf="!collapsed">Settings</span>
    </a>
  </div>
</div>
