<div class="grid-container">
    <div class="vector-overlay"></div>
    <div class="left-container">
        <h2>Reset Password</h2>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <label for="email">Enter your email:</label>

        <input
          type="email"
          formControlName="email"
          [class.is-invalid]="resetForm.get('email')?.invalid && (resetForm.get('email')?.touched || isSubmitted)"
          placeholder="Email"
        />

        <div *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.touched || isSubmitted)">
          <small *ngIf="resetForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="resetForm.get('email')?.errors?.['required']">
            Please provide your email address.
          </small>
        </div>

        <button type="submit" class="resetButton" [disabled]="resetForm.invalid" >Send Reset Link</button>
        </form>
        <!-- <div *ngIf="successMessage">{{ successMessage }}</div> -->
    </div>
    <div class="right-container">
      <div class="feature-card bg-container">
        <div class="overlay"></div>
        <div class="image-box">image of the platform</div>
        <div class="vector-image">
          <img [src]="backgroundImagePath" alt="" class="vector-image-icon" />
        </div>
        <span class="feature-text"> NEW FEATURES</span>
        <div class="graph-box">graph</div>
        <div class="main-text">The easiest way to manage your portfolio.</div>
        <div class="sub-text">Join the FlightPlan community now!</div>
      </div>
    </div>
</div>
<div class="email-sent-popup" *ngIf="successMessage">
  📧 Email has been sent successfully!
</div>
<!-- <div class="email-sent-popup error" *ngIf="showErrorPopup">
  ❌ Please provide your email address.
</div> -->
  

