<header class="flex-header">
  <div class="logo-wrapper">
    <img [src]="imagePath" alt="" class="logo" />
  </div>
  <div class="nav-container">
    <nav class="tabs-container">
      <a class="link" (click)="onScrollTo('content')">Premium Plan</a>
      <a class="link" (click)="onScrollTo('benefits')">Benefits</a>
      <a class="link" (click)="onScrollTo('faqs')">FAQs</a>
      <a class="link" (click)="openContactForm()">Contact</a>
    </nav>
  </div>
  <div class="login-container">
    <button class="btn-Login" routerLink="/login">Login</button>
  </div>
</header>
