<div  class="top-container">
    <div class="overlay"></div>

    <header class="flex-header">
    <div class="logo-wrapper">
        <img [src]="imagePath" alt="" class="logo">
    </div>
    <div class="nav-container">
        <nav class="tabs-container">
            <a class="link"   (click)="scrollToSection(contentSection)">Premium Plan</a>
            <a class="link" (click)="scrollToSection(benefitsSection)">Benefits</a>
            <a class="link" (click)="scrollToSection(faqsSection)">FAQs</a>
            <a class="link"  (click)="openContactForm()">Contact</a>
        </nav>
    </div>
    <div class="login-container">
        <button class="btn-Login" routerLink="/login">Login</button>
    </div>
    <!-- <app-header (scrollToSection)="handleScrollToSection($event)"></app-header> -->
    </header>
    
    <div class="slogen-wrapper">
        The easiest way to manage your portfolio.
    </div>
    <div class="sub-text">Join the FlightPlan community now!</div>
    <div class="plans-container">
        <button class="btn-plans" (click)="scrollToContent(contentSection)">View All Premium plans</button>
    </div>

</div>
<div class="middle-vector-container" #benefitsSection>
    <div class="plans-overlay"></div>
    <div class="image-wrapper">
        <img [src] ="backgroundImagePath" alt="" class="vector-img">
    </div>
    
    <div class="benefits-message">
        Experience the Benefits
    </div>
    <div class="message-container">
        Take full control of Your clients needs and grow together
    </div>
    <div class="main-wrapper-flex">
        <div class="flex-grid-container">
            <div class="decor"></div>
            <div class="last-col-decor"></div>
            <!-- <span class="horizontalLine"></span> -->

            <!-- table for pricing -->
             <table class="pricing-table">
                <thead>
                    <tr class="first-row">
                        <th>What you’ll get</th>
                        <th class="highlight">Single Plan</th>
                        <th>Advisors Plan</th>
                        <th class="highlight">Enterprise Plan</th>
                    </tr>
                </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td class="highlight">
                        <img [src]="checkMarkIcon" alt="">
                    </td>
                    <td><img [src]="checkMarkIcon" alt=""></td>
                    <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                </tr>
                <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                <td><img [src]="checkMarkIcon" alt=""></td>
                <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                </tr>
                <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td class="highlight"></td>
                <td><img [src]="checkMarkIcon" alt=""></td>
                <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                </tr>
                <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                <td></td>
                <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                </tr>
                <tr>
                <td>Lorem ipsum dolor sit amet</td>
                <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                <td><img [src]="checkMarkIcon" alt=""></td>
                <td class="highlight"><img [src]="checkMarkIcon" alt=""></td>
                </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>
<div class="content-container" #contentSection>
    <div class="alert-user-container">Choose a plan to manage your clents needs</div>
    <div class="grid-plans">
        <div class="card trialContainer">
            <div class="trial">
                2 Weeks trial
            </div>
            <h3 class="heading">Single Plan</h3>
            <div class="entry-plan">Starter plan  for the Single Financial</div>
            <div class="agent-container">Adivisor Practise</div>
            <span class="horizontal-line"></span>
            <div class="price">R590.00 pm</div>
            <div class="trial-duration">2 weeks FREE trial</div>
            <ul class="list">
                <li class="item">Multiple Assistants</li>
                <li class="item">Life Performance</li>
            </ul>
            <div class="trial-container m-trial">
                <button class="trial-btn" (click)="goToTrial()">Try free trial for 2 weeks</button>
            </div>
        </div>
        <div class="card">
            <h3 class="heading">Collective Plan</h3>
            <div>Multiple Financial advisor </div>
            <div class="agent-container">Adivisor Practise</div>
            <span class="horizontal-line"></span>
            <div class="price">R2450.00 pm</div>
            <div class="trial-duration">5% discount on 12 months contract</div>
            <ul class="list">
                <li class="item">Multiple Adivisors</li>
                <li class="item">Multiple Assistants</li>
                <li class="item">Life Performance</li>
            </ul>
            <div class="trial-container">
                <button class="trial-btn btn-collective"  (click)="goToTrial()">Get Collective Plan</button>
            </div>
        </div>
        <div class="card">
            
            <h3 class="heading">Enterprise Plan</h3>
            <div>Corporate License For Multiple Advisor</div>
            <div class="agent-container">Adivisor Practise</div>
            <!-- <hr> -->
             <span class="horizontal-line"></span>


            <div class="price">R9999.00 pm</div>
            <div class="trial-duration">10% discount on 12 months contract</div>
            <ul class="list">
                <li class="item">Large Corporation</li>
                <li class="item">Multiple Assistants</li>
                <li class="item">Life Performance</li>
            </ul>
            <div class="trial-container">
                <button class="trial-btn btn-enterprise"  (click)="goToTrial()">Get Enterprise Plan </button>
            </div>
        </div>
    </div>
</div>
<div class="consult-container">
    <div class="get-intourch-container">
        <div class="img-wrapper">
            <img [src]="backgroundImagePath" alt="" class="logo-container">
        </div>
        <div class="question-container">
            Have any questions?
        </div>
        <div class="answers-container">
            we've got answers.
        </div>
        <div class="in-touch-container">
            <button class="btnInTouch" (click)="openContactForm()">Get in touch</button>
        </div>
    </div>
    <div class="FAQs-container" #faqsSection>
        <div class="answer">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Architecto voluptas nobis, quo nam cumque a quibusdam odit atque.
        </div>
        <div class="answer">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Architecto voluptas nobis, quo nam cumque a quibusdam odit atque.
        </div>
        <div class="answer">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
             Architecto voluptas nobis, quo nam cumque a quibusdam odit atque.
        </div>
        
    </div>
</div>
<div class="footer">
    <div class="flexing-container">
        <img [src]="imagePath" alt="" class="fightPlan-Logo">
    </div>
</div>

<app-contact-form [(display)]="displayContactForm"></app-contact-form>

