<div class="layout-container">
  <!-- Toggle Button (mobile only) -->
  <p-button
    icon="pi pi-bars"
    class="mobile-menu-toggle"
    (onClick)="toggleSidebar()"
    styleClass="p-button-text p-button-sm"
  ></p-button>

  <!-- Sidebar -->
  <aside class="sidebar" [class.hidden-mobile]="!isSidebarVisible">
    <app-aside-navigation></app-aside-navigation>
  </aside>

  <!-- Main Content -->
  <div class="main-content">
    <header class="header">
      <app-header-component></app-header-component>
    </header>

    <section class="render-pages-container">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>
