<div class="form-wrapper">
    <div class="user-container">
    <div class="formHeading">
        <div class="btn">Profile</div>
        <div class="btn">Upload Bank Statement</div>
    </div>
    <form action="" [formGroup]="userform" >
        <div class="flex-flied">
            <label for="Firstname" class="label"><span>*</span>First name :</label>
            <input type="text" class="inputbox" formControlName="firstName" id="Firstname">
        </div>
        <div class="flex-flied">
            <label for="Lastname" class="label"><span>*</span>Last name :</label>
            <input type="text" class="inputbox"  formControlName="lastName" id="Lastname">
        </div>
        <div class="flex-flied">
            <label for="idNumber" class="label"><span>*</span>Id Number :</label>
            <input type="text" class="inputbox" formControlName="identificationNumber" id="idNumber">
        </div>
        <div class="flex-flied">
            <label for="gender" class="label"><span>*</span>Gender :</label>
            <select class="inputbox">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="flex-flied">
            <label for="DOB" class="label"><span>*</span>Date of Birth :</label>
            <input type="date" name="" id="DOB" class="inputbox" >
        </div>
        <div class="flex-flied">
            <label for="gender" class="label">Marital Status:</label>
            <select class="inputbox">
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Widowed">Widowed</option>
                <option value="Divorced">Divorced</option>
                <option value="Civil Partnership">Civil Partnership</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="flex-flied">
            <label for="Status" class="label">Status:</label>
            <input type="date" name="" id="Status" class="inputbox">
        </div>
    </form>
</div>
<div class="user-container upload-section">
    <div class="formHeading">
        <div class="btn">Profile</div>
        <div class="btn">Upload Bank Statement</div>
    </div>
    <div class="upload-files">
        <form action="">
            <div class="flex-flied">
                <label for="upload-file" class="label">Bank Statement :</label>
                <input type="file" id="upload-file" class="inputbox">
                <div class="all-files-uploaded"></div>
            </div>
        </form>
    </div>
</div>
</div>

