<div class="grid-container">
  <div class="vector-overlay"></div>
  <div class="left-container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registrationContainer">
      <h2 class="header">Advisor Registration</h2>

      <div class="grid-container">
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText id="firstName" formControlName="firstName" autocomplete="off" />
            <label for="firstName">First Name</label>
          </p-floatlabel>
          @if (isInvalid('firstName')) {
            <p-message severity="error" size="small" variant="simple">First name is required.</p-message>
          }
        </div>
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText id="surname" formControlName="surname" autocomplete="off" />
            <label for="surname">Surname</label>
          </p-floatlabel>
          @if (isInvalid('surname')) {
            <p-message severity="error" size="small" variant="simple">Surname is required.</p-message>
          }
        </div>
      </div>
      <div class="grid-container">
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText id="identityNumber" formControlName="identityNumber" autocomplete="off" />
            <label for="identityNumber">Identity Number</label>
          </p-floatlabel>
          @if (isInvalid('identityNumber')) {
            @if (registrationForm.get('identityNumber')?.errors?.['required']) {
              <p-message severity="error" size="small" variant="simple">Identity number is required.</p-message>
            }
            @if (registrationForm.get('identityNumber')?.errors?.['invalidIdFormat']) {
              <p-message severity="error" size="small" variant="simple">ID must be 13 digits.</p-message>
            }
            @if (registrationForm.get('identityNumber')?.errors?.['invalidIdChecksum']) {
              <p-message severity="error" size="small" variant="simple">ID number is not valid.</p-message>
            }
        }
        </div>
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText type="tel" id="mobileNumber" formControlName="mobileNumber" autocomplete="off" />
            <label for="mobileNumber">Mobile Number</label>
          </p-floatlabel>
          @if (isInvalid('mobileNumber')) {
            <p-message severity="error" size="small" variant="simple">Mobile number is required.</p-message>
          }
        </div>
      </div>
      <div class="grid-container">
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText type="email" id="emailAddress" formControlName="emailAddress" autocomplete="off" />
            <label for="emailAddress">Email Address</label>
          </p-floatlabel>
          @if (isInvalid('emailAddress')) {
            @if (registrationForm.get('emailAddress')?.errors?.['required']) {
              <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
            }
            @if (registrationForm.get('emailAddress')?.errors?.['email']) {
              <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
            }
          }
        </div>
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText id="physicalAddress1" formControlName="physicalAddress1" autocomplete="off" />
            <label for="physicalAddress1">Physical Address 1</label>
          </p-floatlabel>
          @if (isInvalid('physicalAddress1')) {
            <p-message severity="error" size="small" variant="simple">Address is required.</p-message>
          }
        </div>
      </div>
      <div class="grid-container">
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText id="physicalAddress2" formControlName="physicalAddress2" autocomplete="off" />
            <label for="physicalAddress2">Physical Address 2</label>
          </p-floatlabel>
        </div>
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <p-dropdown 
              id="provinceID"
              [options]="provinces"
              optionLabel="name"
              optionValue="id"
              formControlName="provinceID"
              placeholder="Select a province"
            ></p-dropdown>
            <label for="provinceID">Province</label>
          </p-floatlabel>
          @if (isInvalid('provinceID')) {
            <p-message severity="error" size="small" variant="simple">Province is required.</p-message>
          }
        </div>
      </div>
      <div class="grid-container">
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText id="postalCode" formControlName="postalCode" autocomplete="off" />
            <label for="postalCode">Postal Code</label>
          </p-floatlabel>
          @if (isInvalid('postalCode')) {
            <p-message severity="error" size="small" variant="simple">Postal code is required.</p-message>
          }
        </div>
        <div class="flex-container-row">
          <p-floatlabel variant="on">
            <input pInputText id="fscA_Number" formControlName="fscA_Number" autocomplete="off" />
            <label for="fscA_Number">FSCA Number</label>
          </p-floatlabel>
        </div>
      </div>
      <div class="flex-container-row">
        <p-floatlabel variant="on">
          <input pInputText type="password" id="password" formControlName="password" autocomplete="off" />
          <label for="password">Create a Password</label>
        </p-floatlabel>
        @if (isInvalid('password')) {
          <p-message severity="error" size="small" variant="simple">Password is required (min 6 chars).</p-message>
        }
      </div>
      <div class="flex-container-row">
        <p-floatlabel variant="on">
          <input pInputText type="password" id="verifyPassword" formControlName="verifyPassword" autocomplete="off" />
          <label for="verifyPassword">Confirm your password</label>
        </p-floatlabel>
        @if (isInvalid('verifyPassword')) {
          <p-message severity="error" size="small" variant="simple">Please confirm your password.</p-message>
        }
        @if (isPasswordMismatch()) {
          <p-message severity="error" size="small" variant="simple">Passwords do not match.</p-message>
        }
      </div>
      <div class="flex-container-row btn-mg-top">
        <button pButton type="submit" class="btnRegistor btn-primary" label="Register" [disabled]="registrationForm.invalid"></button>
      </div>
      <div>
        <div>
          <p class="link-to-signIn">Already have an account? <a routerLink="/login">Login</a></p>
        </div>
        <div>
          <p class="terms">By registering, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
        </div>
      </div>
    </form>
  </div>
  <div class="right-container">
    <div class="feature-card bg-container">
      <div class="overlay"></div>
      <div class="image-box"></div>
      <div class="vector-image">
        <img [src]="backgroundImagePath" alt="" class="vector-image-icon" />
      </div>
      <span class="feature-text"> NEW FEATURES</span>
      <div class="graph-box bg-image"></div>
      <div class="main-text">The easiest way to manage your portfolio.</div>
      <div class="sub-text">Join the FlightPlan community now!</div>
    </div>
  </div>
</div>
<p-toast position="bottom-left" [showTransitionOptions]="'450ms'" [showTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'250ms'" [hideTransformOptions]="'translateX(100%)'" />
