<div class="graph-container">
    <p-chart
      *ngIf="showAUMChart && !showOnlyNetFlow"
      type="line"
      [data]="aumChartData"
      [options]="aumChartOptions"
      styleClass="aum-line-chart"
    ></p-chart>
</div>

<p-chart
  *ngIf="showOnlyNetFlow"
  type="bar"
  [data]="netFlowChartData"
  [options]="netFlowChartOptions"
  styleClass="netflow-bar-chart"
/>

 <div class="chart-wrapper">
  <p-chart
    *ngIf="showMoneyInOut"
    type="line"
    [data]="netFlowChartData"
    [options]="netFlowChartOptions"
    styleClass="moneyInOut-line-chart"
  ></p-chart>
</div>

