<div class="card">
    <p-toast />
    <p-table [value]="qualifications" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th style="width:22%">Name</th>
                <th style="width:12%"></th>
            </tr>
        </ng-template>
        <ng-template #body let-qualification let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="qualification">
                <td>
                    <p-cellEditor>
                        <ng-template #input>
                            <input
                                pInputText type="text"
                                [(ngModel)]="qualification.description" />
                        </ng-template>
                        <ng-template #output>
                            {{qualification.description}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
            <div class="flex items-center justify-center gap-2">
                <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(qualification)"
                    text
                    rounded
                    severity="secondary"
                ></button>
                <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(qualification)"
                    text
                    rounded
                    severity="secondary"
                ></button>
                <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(qualification, ri)"
                    text
                    rounded
                    severity="secondary"
                ></button>
            </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>