<div class="grid-container">
  <div class="left-container">
    <div class="logo-conatiner">
      <img [src]="imagePath" alt="flightPlan-logo" class="logo" />
    </div>
    <div class="form-container">
      <form action="" class="login-form-wrapper">
        <div class="auth-type-grid">
          <div class="choice-type-container">
            <input
              type="radio"
              id="choice-type"
              name="choice"
              class="radio-button"
            />
            <label for="choice-type" class="label-text">Password</label>
          </div>
          <div class="choice-type-container">
            <input
              type="radio"
              id="choice-type"
              name="choice"
              class="radio-button"
            />
            <label for="choice-type" class="label-text">OTP</label>
          </div>
        </div>
        <div class="user-alert-container">
          <h2 class="user-alert"> Enter your OTP.</h2>
          <p class="user-prompt">
            Check your mobile device for you One-Time-Password.
          </p>
        </div>
        <div class="input-fields">
          <div class="flex-container">
            <div class="phone-input-container">
                <input type="phone" placeholder="One-Time-Password" class="phoneInputBox" />
            </div>
          </div>
          
          <button type="button" class="submitButton">Login</button>
          <div class="otp-resend-container">   
            <a href="#" class="link-OTP">Resend OTP</a>
          </div>

          
          <div class="or-container">
            <span>or</span>
          </div>
          <div class="social-login-container">
            <p class="social-login-text">
              Don’t you have an account? <a class="signup" routerLink="/Registration" class="sign-up-link">Sign Up</a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="right-container">

    <div class="feature-card bg-container">
      <div class="overlay"></div>
      <div class="image-box">image of the platform</div>
      <div class="vector-image">
        <img [src]="backgroundImagePath" alt="" class="vector-image-icon" />
      </div>
      <span class="feature-text"> NEW FEATURES</span>
      <div class="graph-box">graph</div>
      <p class="main-text">The easiest way to manage your portfolio.</p>
      <p class="sub-text">Join the FlightPlan community now!</p>
    </div>
  </div>
</div>

