<div class="overlay">
  <div class="popup-form">
    <div class="title-container">
      <h3 class="title">Add New Client</h3>
    </div>
    
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="registrationContainer">

  <div class="grid-container">
    <div class="flex-container-row">
      <label for="firstName">First Name</label>
      <input pInputText id="firstName" type="text" formControlName="firstName" placeholder="Enter first name"
             [ngClass]="{'is-invalid': isInvalid('firstName')}" />
      @if (isInvalid('firstName')) {
        <p-message severity="error" size="small">First name is required.</p-message>
      }
      
    
    </div>

    <div class="flex-container-row">
      <label for="surname">Surname</label>
      <input pInputText id="surname" type="text" formControlName="surname" placeholder="Enter surname"
             [ngClass]="{'is-invalid': isInvalid('surname')}" />
      @if (isInvalid('surname')) {
        <p-message severity="error" size="small">Surname is required.</p-message>
      }
    </div>
  </div>

  <div class="grid-container">
    <div class="flex-container-row">
      <label for="identityNumber">ID Number</label>
      <input pInputText id="identityNumber" type="text" formControlName="identityNumber" placeholder="Enter ID number"
             [ngClass]="{'is-invalid': isInvalid('identityNumber')}" />
      @if (isInvalid('identityNumber')) {
        <p-message severity="error" size="small">ID Number is required.</p-message>
      }
    </div>

    <div class="flex-container-row">
      <label for="employer">Employer</label>
      <input pInputText id="employer" type="text" formControlName="employer" placeholder="Enter employer" />
    </div>
  </div>

  <div class="grid-container">
    <div class="flex-container-row">
      <label for="mobileNumber">Mobile Number</label>
      <input pInputText id="mobileNumber" type="text" formControlName="mobileNumber" placeholder="Enter mobile number"
             [ngClass]="{'is-invalid': isInvalid('mobileNumber')}" />
      @if (isInvalid('mobileNumber')) {
        <p-message severity="error" size="small">Mobile number is required.</p-message>
      }
    </div>

    <div class="flex-container-row">
      <label for="emailAddress">Email Address</label>
      <input pInputText id="emailAddress" type="email" formControlName="emailAddress" placeholder="Enter email"
             [ngClass]="{'is-invalid': isInvalid('emailAddress')}" />
      @if (isInvalid('emailAddress')) {
        <p-message severity="error" size="small">Email is required.</p-message>
      }
    </div>
  </div>

  <div class="grid-container">
    <div class="flex-container-row">
      <label for="physicalAddress1">Address Line 1</label>
      <input pInputText id="physicalAddress1" type="text" formControlName="physicalAddress1" placeholder="Enter address" />
    </div>

    <div class="flex-container-row">
      <label for="physicalAddress2">Address Line 2</label>
      <input pInputText id="physicalAddress2" type="text" formControlName="physicalAddress2" placeholder="Enter address" />
    </div>
  </div>

  <div class="grid-container">
    <div class="flex-container-row">
      <label for="postalCode">Postal Code</label>
      <input pInputText id="postalCode" type="text" formControlName="postalCode" placeholder="Enter postal code" />
    </div>

    <div class="flex-container-row">
      <label for="provinceID">Province</label>
      <p-dropdown id="provinceID" [options]="provinces" optionLabel="name" optionValue="id"
                  formControlName="provinceID" placeholder="Select province"
                  [ngClass]="{'is-invalid': isInvalid('provinceID')}">
      </p-dropdown>
      @if (isInvalid('provinceID')) {
        <p-message severity="error" size="small">Province is required.</p-message>
      }
    </div>
  </div>

  <div class="grid-container">
    <div class="flex-container-row">
      <label for="maritalStatusID">Marital Status</label>
      <p-dropdown id="maritalStatusID" [options]="maritalStatuses" optionLabel="status" optionValue="id"
                  formControlName="maritalStatusID" placeholder="Select marital status"
                  [ngClass]="{'is-invalid': isInvalid('maritalStatusID')}">
      </p-dropdown>
    </div>

    <div class="flex-container-row">
      <label for="preferredLanguageID">Preferred Language</label>
      <p-dropdown id="preferredLanguageID" [options]="languages" optionLabel="languageName" optionValue="id"
                  formControlName="preferredLanguageID" placeholder="Select language"
                  [ngClass]="{'is-invalid': isInvalid('preferredLanguageID')}">
      </p-dropdown>
    </div>
  </div>

  <div class="grid-container">
    <div class="flex-container-row">
      <label for="qualificationID">Qualification</label>
      <p-dropdown id="qualificationID" [options]="qualifications" optionLabel="description" optionValue="id"
                  formControlName="qualificationID" placeholder="Select qualification"
                  [ngClass]="{'is-invalid': isInvalid('qualificationID')}">
      </p-dropdown>
    </div>

    <!-- <div class="flex-container-row">
      <label for="bankStatement">Bank Statement</label>
      <input type="file" id="bankStatement" (change)="onFileChange($event)" />
      @if (isInvalid('bankStatement')) {
        <p-message severity="error" size="small">Bank statement is required.</p-message>
      }
    </div> -->
  </div>

  <div class="flex-container-row btn-mg-top flex-container-row-end">
    <button pButton type="submit" class="btnRegistor btn-primary" label="Save" [disabled]="clientForm.invalid"></button>
    <button pButton type="button" label="Cancel" (click)="close.emit()" class="btnCancel"></button>
  </div>
</form>
  </div>
</div>