<div class="card">
  <p-tabs scrollable>
    <p-tablist>
      <p-tab value="policy">
        <i class="pi pi-shield icon"></i>
        <span class="font-bold whitespace-nowrap">Policy Management</span>
      </p-tab>
      <p-tab value="policyType">
        <i class="pi pi-tags icon"></i>
        <span class="font-bold whitespace-nowrap">Policy Type Management</span>
      </p-tab>
      <p-tab value="province">
        <i class="pi pi-map icon"></i>
        <span class="font-bold whitespace-nowrap">Province Management</span>
      </p-tab>
      <p-tab value="languages">
        <i class="pi pi-globe icon"></i>
        <span class="font-bold whitespace-nowrap">Preferred Languages</span>
      </p-tab>
      <p-tab value="maritalStatus">
        <i class="pi pi-heart icon"></i>
        <span class="font-bold whitespace-nowrap">Marital Status Management</span>
      </p-tab>
      <p-tab value="qualifications">
        <i class="pi pi-graduation-cap icon"></i>
        <span class="font-bold whitespace-nowrap">Qualifications Management</span>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="policy">
        <app-policy-management></app-policy-management>
      </p-tabpanel>
      <p-tabpanel value="policyType">
        <app-policy-type-management></app-policy-type-management>
      </p-tabpanel>
      <p-tabpanel value="province">
        <app-province-management></app-province-management>
      </p-tabpanel>
      <p-tabpanel value="languages">
        <app-preferred-languages-management></app-preferred-languages-management>
      </p-tabpanel>
      <p-tabpanel value="maritalStatus">
        <app-marital-status-management></app-marital-status-management>
      </p-tabpanel>
      <p-tabpanel value="qualifications">
        <app-qualifications-management></app-qualifications-management>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>